.post {
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  margin: 30px 0;
}

.postWrapper {
  padding: 10px;
}

.postTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postTopLeft {
  display: flex;
  align-items: center;
}

.postProfileImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.postUsername {
  font-size: 15px;
  font-weight: 500;
  margin: 0 10px;
}

.postDate{
    font-size: 12px;
}

.postCenter{
    margin: 20px 0;
}

.postImg{
    margin-top: 20px;
    width: 100%;
    max-height: 500px;
    object-fit: contain;
}

.postBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postBottomLeft{
    display: flex;
    align-items: center;   
}

.likeIcon{
    width: 24px;
    height: 24px;
    margin-right: 5px;
    cursor: pointer;
}

.postLikeCounter{
    font-size: 15px;
}

.postCommentText{
    cursor: pointer;
    border-bottom: 1px dashed gray;
    font-size: 15px;
}
.postTopRight{
  position: relative;
}
.postOption{
  height: 90px;
  width: 60px;
  border-radius: 7px;
  position: absolute;
  right: -2px;
  background-color:  rgba(6,104,133,1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  
}
.deleteIcon, .editIcon{
  color: white;
  cursor: pointer;
  padding: 6px;
}
.deleteIcon:hover, .editIcon:hover{
  background-color: rgb(241, 241, 241);
  border-radius: 10px;
  color: black;
}

.editpost{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 50px;
  left: 0;
  z-index: 999;
  
}
.overlay{
  width: 100%;
  height: 100%;
  background-color: lightgrey;
  opacity: 55%;
}
.updatePost{
  position: fixed;
  background-color:white;
  top: 20%;
  left: 30%;
  padding: 18px;
  border-radius: 10px;
  height: auto;
  width: 300px;
}
.updatePost div{
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 768px ) {
  .updatePost{
    position: fixed;
    background-color:white;
    left: 20%;
  
  }
 
}
@media only screen and (max-width: 600px ) {
  .updatePost{
    position: fixed;
    background-color:white;
    left: 10%;
   
  
  }
 
}